@import '~bulma/sass/utilities/initial-variables'
@import '~bulma/sass/utilities/functions'

// customize styles
$navbar-background-color: transparent
$navbar-item-hover-color: #A499B3
$navbar-item-hover-background-color: transparent

@import '~bulma'
